##Mongodb 地址
MONGO_URI=mongodb://192.168.0.24:27017/bombayjs
##Redis 地址
REDIS_CLUSTER=10.10.17.90:6379
##kafka地址
KAFKA_CLUSTER=127.0.0.1:9092
##elasticsearch地址 http://192.168.0.105:9200
ELASTICSEARCH_CLUSTER=localhost:9200
## 日志上报地址
HOST_API=http://lb.dev.igola.com:9353

## 腾讯获取地理位置api
MAP_API=https://apis.map.qq.com

## 腾讯获取地理位置key
MAP_KEY=TNUBZ-C5ALX-QHZ4D-7Z5CY-RJ64V-B3FZ2